<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title class="title">
      Food
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Favourite most Malaysian to start their day</ion-card-subtitle>
    <ion-card-title class=fontFood>Nasi Lemak Ayam Rendang</ion-card-title>
  </ion-card-header>

  <ion-card-content style=padding-top:0%>
  <ion-img src="assets/img/NLAR.jpg"></ion-img>

  
  <p class="harga">RM 14.90 <ion-button class=buttonCart size="small">Add to cart </ion-button></p>
   
  </ion-card-content>

</ion-card>

    
</ion-content>
